<!doctype html>
<html class="no-js" lang="">
    <head>
    <title> Blog | Mattias Ewers </title>
	<% include partials/head %>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>ouh1ated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<% include partials/bottomHeader %>

        <div class="blog-header" style="background-color: #2c3136">
			<% include partials/header %>
			<div class="blog-intro">
				<h1 id="waypoint">Welcome to my blog!</h1>
				<p>I write mostly about code news related to the web and new stuff that I learn but once in a while I'll write about something fun.</p>
			</div>
		</div>

        <div class="blog" style=<%- posts.length < 2 ? "height:376px" : " " %>>
        			<% for(var i = 0; i < posts.length; i++) { %>
			   		<section class="blog-container">
		              <figure class="has-light-mask m-b-0 image-effect">
		                <img src="<%= posts[i].image_url %>" alt="Article image">
		              </figure>
			   		</section>
					<section class="blog-container">
					   			<div>
					   				<span> New </span>
					   				<a href="/blog/<%= posts[i].url %>">
									    <h3> <%= posts[i].title %><i class="fa fa-angle-right"></i></h3>
									    <% for(var l = 0; l  < 1; l++) {%>
									    	<p class="fa fa-tags"><%= posts[i].tags[l] %></p>
									    <% } %>
									    <p class="fa fa-clock-o"><%= posts[i].time.toISOString().substring(0, 10) %></p>
								    </a>
							     </div>
					</section>
					<% } %>
		</div>


		<% include partials/paginate %>

        <% include partials/footer %>
        <script src="/static/js/loadCSS.js"></script>
        <script>
          // load a file
          loadCSS( "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" );
          loadCSS( "https://fonts.googleapis.com/css?family=Roboto:400,300,500" );
        </script>
        <noscript><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"></noscript>
        <noscript><link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet"></noscript>

        <script src="/static/js/noframework.waypoints.min.js"></script>
        <script src="/static/js/script.js"></script>
    </body>
</html>