<!doctype html>
<html class="no-js" lang="">
    <head>
    <title> <%= post.title %> | Mattias Ewers </title>
    <% include partials/head %>
    <% include partials/socialmeta %>
    <link rel="stylesheet" href="/static/css/prism.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>ouh1ated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <% include partials/bottomHeader %>

        <div class="post-container">
            <div class="post-header">
            <div class="overlay"></div>
               <img class="hero-img" src="<%= post.image_url_large %>" alt="image post header">
                <span> <%= post.time.toISOString().substring(0, 10) %></span>
                <h1 id="waypoint"><%= post.title %></h1>
                <p> <%= post.tags.join(' ') %></p>
              <div class="blog-header">
                <% include partials/header %>
              </div>
            </div>
            <section id="body" class="post-body-container">
              <%- article %>
            </section>
            <div class="disqus">
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                  var disqus_shortname = 'ewers';

                  (function() {
                      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
        </div>

        <% include partials/footer %>
        <script type='application/javascript' src='/static/js/fastclick.js'></script>
        <script>
          if ('addEventListener' in document) {
              document.addEventListener('DOMContentLoaded', function() {
                var attachFastClick = Origami.fastclick;
                attachFastClick(document.body);
              }, false);
          }
        </script>
        <script src="/static/js/loadCSS.js"></script>
        <script>
          // load a file
          loadCSS( "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" );
          loadCSS( "https://fonts.googleapis.com/css?family=Roboto:400,300,500" );
        </script>
        <noscript><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"></noscript>
        <noscript><link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet"></noscript>

        <script src="/static/js/prism.js"></script>
        <script src="/static/js/noframework.waypoints.min.js"></script>
        <script src="/static/js/script.js"></script>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-59647812-1', 'auto');
        ga('send', 'pageview');
        </script>
    </body>
</html>
